<%- include('../partials/boilerplate') %>

<form method="POST" action="/entry/<%= entry.id %>?_method=PUT">
    <input name="entry" type="text" placeholder="Entry" value="<%= entry.entry %>" />
    <input name="entryDate" type="date" value="<%= entry.entryDate %>" />
    <input name="tag" type="text" placeholder="Tag" value="<%= entry.tag %>" />
    <input type="submit" value="Update Entry" />
</form>

<%- include('../partials/end') %> 