<%- include('../partials/boilerplate') %>

<h1 class="title">Reflections</h1>

<a class="add-entry-link" href="/entry/new">Add a new entry</a>

<% entries.forEach((entries) => { %>
    <div class="form-container">
        <div class="entry-box">
            <p class="entry-date"><%= entries.entryDate %></p>
            <p><span class="entry-label">Keep: </span><%= entries.entry %></p>
            <p><span class="entry-label">Tag: </span><%= entries.tag %></p>
            
            <div class="entry-footer">
                <div class="entry-links">
                        <a href="/entry/<%= entries.id %>/edit">Edit</a>
                </div>
                <div class="entry-links">
                    <!-- <a href="/entry/<%= entries.id %>?_method=DELETE">Delete</a> -->

                    <form method="POST" action="/entry/<%= entries.id %>?_method=DELETE">
                        <button class="delete" type="submit">Delete</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
<% }) %>

<%- include('../partials/end') %>