<%- include('../partials/boilerplate') %>

<h1>Entries!</h1>

<% entries.forEach((entries) => { %>
    
    <p><%= entries.entry %></p>
    <p><%= entries.entryDate %></p>
    <p><%= entries.tag %></p>
<% }) %>

<%- include('../partials/end') %>